{{!< default}}
{{> shaders }}
 <div id="container"></div>
<div class='bio-container'>
	<header class='top-header'>Will J. Field</header>
	<span class='sub-header'>Developer | Designer | Motion Graphics Artist</span>
	<p class='bio'><br><br>Will creates cross-platform apps, museum installations, websites, music videos and on-air television graphics. He also teaches web development and programming to children and adults. <br><br> He holds a Masters degree from New York University’s ITP program and a Film and Electronic Arts Bachelors Degree from Bard College. Will has worked for Microsoft Research, The American Museum of Natural History, Nickelodeon International, and Oddleg, a digital development studio based in New York City.</p>
</div>

<div class='chevron-container'>
	<img class='down-chevron' src="./images/chevron.svg"></img>
</div>
<div class="row">
	<div class="col-md-4 projects-title">Work</div>
	<div class="col-md-8">
		<div class='portfolio-showcase'>
			{{# each data.projects }}
				<div class='project {{ title }}'>
					<img class='project-img' src="./uploads/{{ image.filename }}">
					<div class='project-description-container'>
						<img class='project-close' src="./images/close-btn.png">
						<img class='project-thumb' src="./uploads/{{ thumbOne.filename }}">
						<img class='project-thumb' src="./uploads/{{ thumbTwo.filename }}">
						<img class='project-thumb' src="./uploads/{{ thumbThree.filename }}">
						{{{ content.brief }}} 
					</div>
				</div>
			{{/each}}
		</div>
	</div>
</div>

<div class="blog row">
	<div class="col-md-4 projects-title">Blog</div>
	<div class="col-md-8 blog-list">
	{{# each data.posts.results}}
	<div class="blog-summaries" data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
		<h3><a href="{{slug}}">{{{title}}}</a></h3>
		{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-left">{{/if}}
		<p>{{{content.brief}}}</p>
		{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
	</div>
	{{/each}}
	</div>
</div>


